@use "sass:color";
@use "common" as qqs;

.qqs-root {
  $popup-icon-padding-size: 0.15em;
  $button-padding-size: 0.25em;
  $button-content-size: 1em;
  $button-size: ($button-padding-size * 2) + $button-content-size;

  &.qqs-popup-icon {
    display: block;
    position: absolute;
    z-index: 2147483647;
    margin: 0;
    border: 1px solid qqs.$border-color;
    border-radius: 100vh;
    box-shadow: 0.15em 0.15em 0.2em 0 qqs.$shadow-color;
    background-color: qqs.$background-color;
    padding: $popup-icon-padding-size;
    width: max-content;
    height: max-content;
    font-size: max(1em, 16px);

    .qqs-popup-icon__button {
      border-radius: 100vh;
      background-color: qqs.$background-color;
      padding: $button-padding-size;
      box-sizing: content-box;
      width: $button-content-size;
      height: $button-content-size;
      cursor: pointer;

      .qqs-popup-icon__image {
        display: block;
        box-sizing: border-box;
        width: $button-content-size;
        height: $button-content-size;
      }

      .qqs-popup-icon__image--search {
        // Needs the prefix `qqs-` since this CSS will be injected into any document.
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .search-icon;
      }

      .qqs-popup-icon__image--quote {
        // Needs the prefix `qqs-` since this CSS will be injected into any document.
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .quote-icon;
      }

      .qqs-popup-icon__image--options {
        // Needs the prefix `qqs-` since this CSS will be injected into any document.
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .options-icon;
      }

      @include qqs.tooltip(qqs-popup-icon__tooltip);

      &:hover {
        background-color: color.scale(qqs.$background-color, $lightness: -5%);
      }
    }

    %animation-button {
      opacity: 0;
      transition: all 0.3s;

      /* stylelint-disable-next-line no-descending-specificity */
      .qqs-popup-icon__image {
        transform: rotate(-180deg);
        transition: all 0.3s;
      }
    }

    .qqs-popup-icon__button--search {
      position: absolute;
      left: $popup-icon-padding-size;
      top: $popup-icon-padding-size;
      z-index: 2;
    }

    .qqs-popup-icon__button--quote {
      @extend %animation-button;

      position: absolute;
      left: $popup-icon-padding-size;
      top: $popup-icon-padding-size;
      z-index: 1;
    }

    .qqs-popup-icon__button--options {
      @extend %animation-button;

      position: relative;
    }

    &:not(.qqs-popup-icon--show-tooltip) {
      .qqs-popup-icon__button {
        .qqs-popup-icon__tooltip {
          display: none;
        }
      }
    }

    &:hover {
      %animation-button {
        opacity: 1;

        .qqs-popup-icon__image {
          transform: rotate(0);
        }
      }

      .qqs-popup-icon__button--options {
        .qqs-popup-icon__image--options {
          transition: all 0.3s;
        }

        &:hover {
          .qqs-popup-icon__image--options {
            transform: rotate(180deg);
          }
        }
      }

      &:not(.qqs-popup-icon--editable) {
        &.qqs-popup-icon--show-options-button {
          .qqs-popup-icon__button--options {
            margin-left: $button-size;
          }
        }
      }

      &.qqs-popup-icon--editable {
        .qqs-popup-icon__button--quote {
          left: calc($popup-icon-padding-size + $button-size);
        }

        &.qqs-popup-icon--show-options-button {
          .qqs-popup-icon__button--options {
            margin-left: calc($button-size * 2);
          }
        }

        &:not(.qqs-popup-icon--show-options-button) {
          .qqs-popup-icon__button--options {
            margin-left: $button-size;
          }
        }
      }
    }
  }
}
