name: Test
on:
  push:
    branches: [main]
    paths-ignore: [coverage-main/**, cws/**]
  pull_request:
    branches: [main]
    paths-ignore: [coverage-main/**, cws/**]
jobs:
  test:
    strategy:
      matrix:
        mode: [production]
        os: [windows-latest, macos-latest]
        browser: [chrome]
        test_search_site: [off]
    name: "Run cypress with {mode: ${{ matrix.mode }}, os: ${{ matrix.os }}, browser: ${{ matrix.browser }}, test_search_site: ${{ matrix.test_search_site }}}"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 19
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
      - name: Clone repo
        uses: actions/checkout@v6
      - name: Run cypress
        uses: cypress-io/github-action@v7.1.1
        with:
          build: npx webpack build --mode=${{ matrix.mode }}
          browser: ${{ matrix.browser }}
          record: true
          tag: ci,${{ matrix.mode }},${{ runner.os }},${{ matrix.browser }}
        env:
          CYPRESS_coverage: false
          CYPRESS_test_on: ci
          CYPRESS_test_search_site: ${{ matrix.test_search_site }}
          CYPRESS_mode: ${{ matrix.mode }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Save videos as artifacts if failure
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: cypress-videos-${{ matrix.mode }}-${{ runner.os }}-${{ matrix.browser }}
          path: cypress/videos
